<div class="input-daterange">
  <section>
    <label>Start date
      {{input type="text" value=startDisplay name="start"}}
    </label>
  <section>
  </section>
    <label>End date
       {{input type="text" value=endDisplay name="end"}}
    </label>
  </section>
  {{dates}}
</div>
