<div class="input-daterange">
  <section>
    <label>Start date
      {{input type="text" name="start" value=start}}
    </label>
  <section>
  </section>
    <label>End date
      {{input type="text" name="end" value=end}}
    </label>
  </section>
</div>
