<nav class="header">
  <div class='nav-el'>
    {{#link-to 'application'}}Intention Book{{/link-to}}
    {{#if session.isAuthenticated}}
      {{#link-to 'users.show'}}My Intentions{{/link-to}}
    {{/if}}
  </div>

  <div class='nav-el right'>
    {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}}>Logout</a>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}
  </div>



</nav>
